## Deliverable 3. Create a Travel Itinerary Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [17]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/clean_hotels.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Min Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,79.03,79.03,clear sky,-23.1203,-134.9692,Pension Maro'i
1,1,Bathsheba,BB,78.80,78.80,few clouds,13.2167,-59.5167,Atlantis Hotel
2,2,Georgetown,MY,78.80,77.00,few clouds,5.4112,100.3354,Cititel Penang
3,3,Hobart,AU,64.40,61.00,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
4,5,Vaini,TO,86.00,86.00,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [20]:
# 4a. Add a marker layer for each city to the map.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
# 4b. Display the figure
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
             max_intensity=300, point_radius=4)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Bundibugyo"]
vacation_end = vacation_df.loc[vacation_df['City']=="Bundibugyo"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Mandera"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Eyl"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Malakal"]

In [47]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [tuple(r) for r in vacation_start[['Lat', 'Lng']].to_numpy()]
end = [tuple(r) for r in vacation_end[['Lat', 'Lng']].to_numpy()]
stop1 = [tuple(r) for r in vacation_stop1[['Lat', 'Lng']].to_numpy()]
stop2 = [tuple(r) for r in vacation_stop2[['Lat', 'Lng']].to_numpy()]
stop3 = [tuple(r) for r in vacation_stop3[['Lat', 'Lng']].to_numpy()]

start
start_ = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
stop1_ = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2_ = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
stop3_ = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]
end_ = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
route = gmaps.directions_layer(start_, end_, waypoints=[start_, stop1_, stop2_, stop3_, stop4_],
                               travel_mode='DRIVING')
fig.add_layer(route)

fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Min Temp,Current Description,Lat,Lng,Hotel Name
0,608,Bundibugyo,UG,70.38,70.38,broken clouds,0.7414,30.0417,R.A. Kaliisa Accomodations
1,608,Bundibugyo,UG,70.38,70.38,broken clouds,0.7414,30.0417,R.A. Kaliisa Accomodations
2,666,Mandera,KE,78.73,78.73,broken clouds,3.9366,41.8670,Kornesh Hotel and Lodging
3,549,Eyl,SO,71.71,71.71,clear sky,7.9803,49.8164,Amiin Hotel
4,669,Malakal,SS,77.72,77.72,few clouds,9.5334,31.6605,Nile Palace Hotel

In [70]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
# 4b. Display the figure
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, dissipating=False,
             max_intensity=300, point_radius=4)
fig.add_layer(marker_layer)

fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))